@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

@layer utilities {
  .paragraph-xl {
    font-family: Pretendard;
    font-size: 27.699px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 44.319px */
  }

  .paragraph-large {
    font-family: Pretendard;
    font-size: 21.328px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }

  .paragraph-medium {
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
  }

  .paragraph-sm {
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.95px */
  }

  .paragraph-small {
    font-family: Pretendard;
    font-size: 12.003px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 19.205px */
  }

  .paragraph-xs {
    font-family: Pretendard;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }

  .label-xxl {
    font-family: Pretendard;
    font-size: 36.923px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }

  .label-xl {
    font-family: Pretendard;
    font-size: 27.699px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 41.549px */
  }

  .label-large {
    font-family: Pretendard;
    font-size: 21.328px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 31.992px */
  }

  .label-medium {
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
  }

  .label-small {
    font-family: Pretendard;
    font-size: 12.003px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 18.005px */
  }

  .label-xs {
    font-family: Pretendard;
    font-size: 10.5px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 18.005px */
  }

  .heading-xxxl {
    font-family: Pretendard;
    font-size: 47.23px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 66.122px */
  }

  .heading-xxl {
    font-family: Pretendard;
    font-size: 36.923px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 51.692px */
  }

  .heading-xl {
    font-family: Pretendard;
    font-size: 28.43px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 39.802px */
  }

  .heading-large {
    font-family: Pretendard;
    font-size: 21.328px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 29.859px */
  }

  .heading-medium {
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 22.4px */
  }

  .heading-small {
    font-family: Pretendard;
    font-size: 12.003px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 16.804px */
  }

  .tenada-xxxxxxl {
    font-family: Tenada;
    font-size: 200px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 300px */
    letter-spacing: -4.4px;
  }

  .tenada-xxxxxl {
    font-family: Tenada;
    font-size: 130.312px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 195.468px */
    letter-spacing: -2.867px;
  }

  .tenada-xxxxl {
    font-family: Tenada;
    font-size: 89.933px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 134.899px */
    letter-spacing: -1.979px;
  }

  .tenada-xxxl {
    font-family: Tenada;
    font-size: 70.147px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 105.221px */
    letter-spacing: -1.543px;
  }

  .tenada-xxl {
    font-family: Tenada;
    font-size: 58.597px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 87.895px */
    letter-spacing: -1.289px;
  }

  .tenada-xl {
    font-family: Tenada;
    font-size: 45.705px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 68.558px */
    letter-spacing: -1.006px;
  }

  .tenada-large {
    font-family: Tenada;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .tenada-medium {
    font-family: Tenada;
    font-size: 24.359px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .tenada-small {
    font-family: Tenada;
    font-size: 19px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  .pretenard-xxl {
    font-family: Pretendard;
    font-size: 47.442px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 71.163px */
    letter-spacing: -1.044px;
  }

  .pretenard-xl {
    font-family: Pretendard;
    font-size: 20.513px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30.769px */
  }
}

/* 기본 스타일 */
@import '../styles/variables-light.css';

@import '../styles/variables-dark.css';

@font-face {
  font-family: 'Tenada';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('../public/fonts/Pretendard-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('../public/fonts/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('../public/fonts/Pretendard-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: 'Pretendard', sans-serif;
}

@layer utilities {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-color {
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-right: 10px;
}

.scrollbar-color::-webkit-scrollbar {
  width: 10px;
}

.scrollbar-color::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-color::-webkit-scrollbar-thumb {
  background: #048848;
  border-radius: 5px;
}

/* input {
  all: unset;
} */

* {
  box-sizing: border-box;
}

/* 모달창 띄울 때 스크롤 방지 */
.modal-open {
  overflow: hidden;
}

.post-box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 10px 10px 20px 2px rgb(0 0 0 / 5%);
}
