@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

@layer utilities {
  .paragraph-large {
    font-family: Pretendard;
    font-size: 21.328px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }

  .paragraph-medium {
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
  }

  .paragraph-small {
    font-family: Pretendard;
    font-size: 12.003px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 19.205px */
  }

  .label-large {
    font-family: Pretendard;
    font-size: 21.328px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 31.992px */
  }

  .label-medium {
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
  }

  .label-small {
    font-family: Pretendard;
    font-size: 12.003px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 18.005px */
  }

  .heading-xl {
    font-family: Pretendard;
    font-size: 28.43px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 39.802px */
  }

  .heading-large {
    font-family: Pretendard;
    font-size: 21.328px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 29.859px */
  }

  .heading-medium {
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 22.4px */
  }
}

/* 기본 스타일 */
@import '../styles/variables-light.css';

@import '../styles/variables-dark.css';

@font-face {
  font-family: 'Tenada';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('../public/fonts/Pretendard-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('../public/fonts/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('../public/fonts/Pretendard-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: 'Pretendard', sans-serif;
}

input {
  all: unset;
}

* {
  box-sizing: border-box;
}

/* 모달창 띄울 때 스크롤 방지 */
.modal-open {
  overflow: hidden;
}
